@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dorsa&family=Fleur+De+Leah&family=Major+Mono+Display&family=Miniver&family=Vibes&display=swap'); */



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.dorsa-regular {
  font-family: "Dorsa", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.vibes-regular {
  font-family: "Vibes", system-ui;
  font-weight: 400;
  font-style: normal;
}
.miniver-regular {
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}
.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

